{% extends 'base.html.twig' %}

{% block title %}Forgot password
{% endblock %}
{% block body %}
    <a class="h3 mb-3 font-weight-normal">forgot password</a>
    <form method="post">




        <label for="inputEmail">Email</label>
        <input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

        <button type="submit" class="href={{ path('app_login') }}">Send</button>
    </form>
{% endblock %}

