

{{ form_start(form,{'attr': {'class':'form-horizontal','novalidate':'novalidate'}} ) }}
    {{ form_widget(form) }}
<button class=" btn-lg btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

